




.videoWrapper {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: black;

    video{
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

}

