
@import '../../style/sizes';

.header{
    width: 100%;
    height: $stripeHeight;
    padding-left: $paddingLeft;
    border-bottom: $borderWidth solid black;
    display: flex;
    align-items: center;
    font-size: 4rem;

    font-family: KissAndRiot;

    @media all and (max-height: 720px){
        font-size: 7vh;
    }


    /* Smartphones (portrait and landscape) narrow screens----------- */
    @media
    all and (max-width: 500px),
    only screen and (min-device-width : 320px) and (max-device-width : 667px) {
        font-size: 5vw;
        padding-left: $paddingLeftMobile;

        >*{
            padding-left: 5%;
        }
    }



}

