

$red: #FF0027;
$yellow: #FFFB65;
$blue: #0F32F3;
$green: #2CEBB7;
$white: #FFFFFF;
$black: #000000;


.c_1{ svg{ color: #FF0027; fill: #FF0027}}
.c_2{ svg{ color: #FFFB65; fill: #FFFB65}}
.c_3{ svg{ color: #0F32F3; fill: #0F32F3}}
.c_4{ svg{ color: #000000; fill: #000000}}
.c_5{ svg{ color: #FFFFFF; fill: #FFFFFF}}
.c_6{ svg{ color: #2CEBB7; fill: #2CEBB7}}

.bg_blue{background-color: #0F32F3}
.bg_black{background-color: #000000}
.bg_yellow{background-color: #FFFB65}
.bg_white{background-color: #FFFFFF}
.bg_red{background-color: #FF0027}
.bg_green{background-color: #2CEBB7}
