

@import './reset';
@import './fonts/fonts';
@import './colors';


:global{

    html{
        background-color: lightgray;
    }

    body{
        overflow-x: hidden;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-family: KissAndRiot;
    }

    a{
        cursor: pointer;
        text-decoration: none;
        color: black;
        &:hover{
            color: $green !important;
        }
    }

    .hidden{
        display: none !important;
    }
    
    i{
        font-style: italic;
    }

}

