$stripeHeight: 100vh/8;

$paddingLeft: 2*$stripeHeight;
$paddingLeftMobile: 0.25*$stripeHeight;


$bodyHeight: 100vh - 2*$stripeHeight;
$borderWidth: 3px;

$contentWrapperWidth:calc(100vw - 2*100vh/8 - 3px);
$contentWrapperWidthMobile:calc(100vw - 0.25*100vh/8 - 3px);

$bigTitleFontSize_primary: 4vw;
$bigTitleLineHeight_primary: 1.4em;

$bigTitleFontSize_secondary: 5vw;
$bigTitleLineHeight_secondary: 1em;


