

@import '../../style/sizes';

.app{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    #app{
        font-family: KissAndRiot , monospace;
        width: 100%;
        height: 100%;
        overflow: hidden;
        //display: flex;
    }

}

.content{
    padding-top: $stripeHeight;
    min-height: 100vh - 2*$stripeHeight;
    overflow: hidden;
}

