

@import '../../style/sizes';


.header {
    font-family: Oswald;
    text-align: left;
    font-size: 4vw;
    font-weight: bold;

    display: flex;
    align-items: center;
    position: fixed;
    z-index: 97;

    top: 0;
    left: 0;
    padding-left: $paddingLeft;

    width: 100%;
    height: $stripeHeight;

    border-bottom: $borderWidth solid black;
    box-sizing: border-box;
    background-color: black;
    color: white;


    .logo{
        width: 35%;
    }

    .container{
        display: -webkit-inline-box;
        width: 100%;
    }

    .separator{
        color: red;
    }

    a{
        color: white;
    }

    @media all and (max-height: 720px){
        font-size: 7vh;
    }


    /* Smartphones (portrait and landscape) narrow screens----------- */
    @media
    all and (max-width: 500px),
    only screen and (min-device-width : 320px) and (max-device-width : 667px) {
        font-size: 5vw;
        padding-left: $paddingLeftMobile;

        .container{
            padding-left: 5%;
        }
    }

    /* iPads (portrait) ----------- */
    @media
    all and (max-width: 740px),
    only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),
        /* iPad 3 ----------- */
    only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
        /* iPhone 4 ----------- */
    only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
        /* iPhone 5 ----------- */
    only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2),
        /* iPhone 6+ ----------- */
    only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
            line-height: 1.3em;
            .container{
                display: block;
            }
            .logo{
                width: 70%;
            }

    }
}
