

@font-face {
    font-family: 'KissAndRiot';
    src: url('kissandriot-regular-webfont.woff2') format('woff2'),
    url('kissandriot-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('oswald-regular-webfont.woff2') format('woff2'),
    url('oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


