

@import '../../style/sizes';



.participants{
    font-family: KissAndRiot;
}

.container{
    padding-left: $paddingLeft;
    padding-top: $stripeHeight/2;
    padding-bottom: $stripeHeight/2;
    display: flex;
}

.col:first-child{
    margin-right: 5%;
}

.colHeader{
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: $stripeHeight/2;
    font-style: italic;
}

.list{
    font-size: 3rem;
    line-height: 3.4rem;
    li{
        list-style: none;
    }
}

/* Smartphones (portrait and landscape) narrow screens----------- */
@media
all and (max-width: 500px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {
    .container{
        padding-left: $paddingLeftMobile;
        margin-left: 5%;
    }
}



@media all and (max-width: 1024px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {
    .container{
        display: block !important;
    }


}

