

@import '../../style/sizes';



.about{
    font-family: KissAndRiot;

    padding-top: $stripeHeight;
    width: 70%;
    padding-right: 5%;
    max-width: 700px;
    font-size: 2rem;
    line-height: 2.2rem;
    padding-left: $paddingLeft;

    p{
      padding-bottom: $stripeHeight/4;
    }
}

/* Smartphones (portrait and landscape) narrow screens----------- */
@media
all and (max-width: 500px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {

    .about{
        padding-left: $paddingLeftMobile;
        margin-left: 5%;
        width: 85%;
        padding-right: 15%;
        padding-top: 0.5*$stripeHeight;

        font-size: 3rem;
        line-height: 4.2rem;
    }


}
