
@import '../../../style/sizes';

.introWrapper {

    position: fixed;
    background-color: black;
    width: $contentWrapperWidth;
    height: 6*$stripeHeight;

    padding-left: 1.5*$stripeHeight;


    .svgWrapper{
        width: 100%;
        height: 100%;
    }

    .svgWrapper > svg{
        fill: black;
        width: 100%;
        height: 100%;
    }

}