




@import '../../style/sizes';
@import '../../style/colors';



.projectGallery{

    font-family: KissAndRiot;
    box-sizing: border-box;
    width: 100%;

    //display: flex;
    overflow: hidden;

    //height: calc(#{$bodyHeight} + 15px);
    //top: 15px;
    //margin-top: -15px;

    height: $bodyHeight;

    >div{
        padding-bottom: 15px;
        overflow-y: hidden;
        padding-left: $paddingLeft;
    }

}

.thumbnailContainer {
    height: 100%;
    min-width: 50vw;
    border-left: $borderWidth solid black;
    display: table-cell;

    &:last-child{
        border-right: $borderWidth solid black;
    }

    &:hover{
        cursor: pointer;
        & figcaption{
            background-color: $green;
        }
    }
}

.thumbnailHeader{
    width: 100%;
    height: $stripeHeight;
    background-color: white;
    color: black;
    border-bottom: $borderWidth solid black;
    display: flex;
    align-items: center;
}

.thumbnailInfo{
    font-size: 1.7rem;
    line-height: 2rem;
    padding-left: 5%;
    width: 80%;
}

.image{
    width: 100%;
    height: 5*$stripeHeight;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media all and (max-height: 720px){
    .thumbnailContainer{
        min-width: $contentWrapperWidth;
    }
}


/* Smartphones (portrait and landscape) narrow screens----------- */
@media
all and (max-width: 500px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {
    .thumbnailContainer{
        min-width: $contentWrapperWidthMobile;
    }

    .projectGallery>div{
        padding-left: $paddingLeftMobile;
    }

    figcaption *{
        font-size: 2vw;
        line-height: 1.3em;
    }
}

/* iPads (portrait) ----------- */
@media
all and (max-width: 740px),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),
    /* iPad 3 ----------- */
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
    /* iPhone 4 ----------- */
only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
    /* iPhone 5 ----------- */
only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2),
    /* iPhone 6+ ----------- */
only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    line-height: 1.3em;
    .container{
        display: block;
    }
    .logo{
        width: 70%;
    }
}

@media
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),
    /* iPad 3 ----------- */
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
    /* iPhone 4 ----------- */
only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
    /* iPhone 5 ----------- */
only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2),
    /* iPhone 6+ ----------- */
only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    figcaption *{
        font-size: 5vw;
        line-height: 1.3em;
    }

}

