


doctype html
html
    head
        if(css)
            link(rel="stylesheet", href=css)
        script(id="remove").
            window.__data__ = !{JSON.stringify(data)};
            var script = document.getElementById('remove');
            var head = document.getElementsByTagName('head')[0]
            head.removeChild(script);

    body
        #app!=appHTML
        script(src=script)