
@import '../../style/sizes';

$width: 10vw;
$height: 100vh;

.sidebar {

    padding-left: 2%;
    display: flex;
    align-items: center;
    background-color: #0F32F3;
    transform-origin: bottom left;
    transform: rotate(90deg);
    width: 100vh;
    height: $stripeHeight;
    position: fixed;
    top: -$stripeHeight - 1vh;
    left: 0.5*$stripeHeight;
    z-index: 100;
    color: white;
    border-top: $borderWidth solid black;
    border-bottom: $borderWidth solid black;


    transition: left 500ms;

    .date {
        font-family: Oswald;
        font-weight: bold;
        padding-right: 3%;
        font-size: 7vh;
    }

    a{
        color: white;
        font-size: 2.5vh;
        line-height: 1.4em;
    }



}

.collapsed{
    left: -0.75*$stripeHeight;

    >*{
        padding-top: 10px;

    }
}

@media
all and (max-width: 500px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {

    .sidebar:not(.collapsed){
        left: 0;
    }
}
