

@import '../../style/sizes';
@import '../../style/colors';


.footer {
    font-family: Oswald;

    display: flex;
    align-items: center;
    z-index: 97;

    //position: relative;

    padding-left: $paddingLeft;
    height: $stripeHeight;

    background-color: black;
    color: white;


    a{
        color: white;
        padding-right: 10%;
    }

    //mobile version and narrow screens
    @media all and (max-width: 500px),all and (max-device-width: 500px){
        padding-left: $paddingLeftMobile;
        font-size: 4vw;

    }


    /* Smartphones (portrait and landscape) narrow screens----------- */
    @media
    all and (max-width: 500px),
    only screen and (min-device-width : 320px) and (max-device-width : 667px) {
        padding-left: $paddingLeftMobile;
        font-size: 4vw;
        width: $contentWrapperWidthMobile;

        nav{
            padding-left: 5%;
        }

        a{
            padding-right: 5%;
        }

    }

    /* iPads (portrait) ----------- */
    @media
    all and (max-width: 740px),
    only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),
        /* iPad 3 ----------- */
    only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
        /* iPhone 4 ----------- */
    only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
        /* iPhone 5 ----------- */
    only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2),
        /* iPhone 6+ ----------- */
    only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    }

}
