

@import "../../style/sizes";

.slice{
    height: $stripeHeight*1.07;
    border-bottom: $borderWidth solid black;
    border-top : $borderWidth solid black;
    background-color: white;
    position: relative;
    z-index: 98;
}

.backgroundStripe{
    height: 7*$stripeHeight/3;
    &:first-child{
        height: $stripeHeight*2.5;
    }
}


.background{
    width: 100vw;
    & svg {
        width: initial;
        transform: translate(-25%, 0);
    }
}

.logo{
    width: 100vw;
}

.tickerContent{
    white-space: nowrap;
    font-size: 3rem;
    height: 100%;
}

.tickerItem {
    display: inline-flex;
    height: 100%;
    align-items: center;
    div{
        display: inline-block;
    }
}

.tickerItemSeparator{
    height: 70%;
}
