



.counter {

    font-size: 1.4vw;
    line-height: 1.3em;
    display: block;
    padding-left: 5%;

    .count{
        padding-right: 5px;
    }
    .count:not(.first){
        padding-left: 5px;
    }

    .label{
        padding-right: 10px;
        color: red;
        display: block;
    }

    .countWrapper{
        display: inline-block;
    }
}

.hidden{
    display: none;
}

@media all and (max-width:800px) and (orientation: portrait) {

    .counter{
        font-size: 1em;
        line-height: 1em;
    }

    .count{
        padding-left: 0px !important;
        padding-right: 5px !important;
    }

    .label {
        font-size: 0.5em;
        float: none !important;
        display: block !important;
    }

    .countWrapper{
        display: block !important;
    }

}
