
@import '../../style/sizes';
@import '../../style/colors';

:global{

    svg.social-icon{

        rect{fill: $white !important;}
        path{fill: $black !important;}

        &:hover{
            rect{fill: $green !important;}
            cursor: pointer;
        }
    }

}

.shareButtonWrapper{
    background: blue;
    margin-right: $borderWidth;
}
.shareButtonWrapper{
    display: inline-block;
}

.shareCounter{
    font-family: KissAndRiot;
    text-align: center;
    color: white;
}

.shareBarIcon{
    background-image: url("./images/share-icon.png");
    background-size: cover;
    background-repeat: no-repeat;

    width: 30px;
    height: 30px;

    position: absolute;
    right: 5%;
    margin-top: -10px;

    &:hover{
        cursor: pointer;
    }
}

.buttonsWrapper{
    display: none;
    position: absolute;

    margin-top: -15px;
    right: calc(5vw + 40px);
}

.buttonsWrapper.open{
    display: block;
}