

@import '../../style/sizes';

.header {
    font-family: Oswald;
    display: flex;
    align-items: center;
    width: 100%;
    height: $stripeHeight;
    position: fixed;
    top: 0;
    text-align: left;
    padding-left: 2*$stripeHeight;
    left: 0;
    border-bottom: $borderWidth solid black;
    box-sizing: border-box;
    z-index: 96;
    background-color: black;
    color: white;


    .logo {
        right: 2.5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 5%;
        height: 80%;

        & svg{
            fill: white;
        }
    }

    .title{
        font-size: $bigTitleFontSize_secondary;
        font-weight: bold;
    }


    @media all and (max-height: 720px){
        font-size: 7vh;
    }


    /* Smartphones (portrait and landscape) narrow screens----------- */
    @media
    all and (max-width: 500px),
    only screen and (min-device-width : 320px) and (max-device-width : 667px) {
        font-size: 5vw;
        padding-left: $paddingLeftMobile;

        .container{
            padding-left: 5%;
        }
    }

    /* iPads (portrait) ----------- */
    @media
    all and (max-width: 740px),
    only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),
        /* iPad 3 ----------- */
    only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
        /* iPhone 4 ----------- */
    only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
        /* iPhone 5 ----------- */
    only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2),
        /* iPhone 6+ ----------- */
    only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        line-height: 2.7em;
    }



}

