

@import '../../style/sizes';




:global{
    .gm-style-cc{
        display: none !important;
    }

    .gm-style>div:nth-child(2)>a {
        display: none !important;
        opacity: 0 !important;
    }

    div[title="Zoom in"], div[title="Zoom out"]{
        background-color: yellow !important;
        color: white;
    }

    img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"]{
        display: none;
    }
}

.contactLoc{
    //height: 100vh ;
    //display: flex;
    //flex-flow: row wrap;
}


.mapContainer{
    width: 100%;
    height: 7*$stripeHeight;
    background-color: blue;
    border-right: $borderWidth solid black;
}


.contactInfo{
    font-family: KissAndRiot;
    font-size: 2rem;
    line-height: 2.2rem;
    padding-left: $paddingLeft;
    padding-top: $stripeHeight/4;
    padding-bottom: $stripeHeight/4;
    box-sizing: border-box;
    display: flex;

    .section:not(:last-child) {
        margin-right: $stripeHeight/2;
    }

}

.infoHead{
    margin-bottom: $stripeHeight/2;
}

.open{

    & > div:last-child{
        margin-top: $stripeHeight/4;
    }

}

.awards{
    font-size: 1rem;
}

/* Smartphones (portrait and landscape) narrow screens----------- */
@media
all and (max-width: 500px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {
    .contactInfo{
        padding-left: $paddingLeftMobile;
        margin-left: 5%;

        .section {
            margin-right: 0.25*$stripeHeight;
        }
    }
}


@media
all and (max-width: 920px),
only screen and (max-device-width : 920px) {
    .contactInfo{
        display: block;
    }
    .infoHead{
        margin-bottom: $stripeHeight/6;
    }
}
