

@import '../../../style/colors';

$markerSize: 150px;

.marker {
    position: absolute;
    left: -$markerSize/2;
    top: -$markerSize;
    width: $markerSize;
    height: $markerSize;

    svg{
        fill: $green;
    }

}