

@import '../../style/sizes';
@import '../../style/colors';

.footer {

    align-items: center;
    height: $stripeHeight;
    padding-left: $paddingLeft;
    background-color: black;
    color: white;
    display: flex;

    // so that horizontal scrollbars can be hidden beneath if needed
    position: fixed;

    width: $contentWrapperWidth;

    z-index: 98;
    bottom: 0;

    .links{
        display: none;
    }

    .socialMedia{
        font-size: $bigTitleFontSize_primary;
        line-height: $bigTitleLineHeight_primary;
        position: relative;
        color: $red;
    }

    a{
        color: white;
    }

}