

@import '../../style/sizes';



.wrapper{
    padding-top: $stripeHeight/4;
    padding-bottom: $stripeHeight/4;
    font-size: 3rem;
    line-height: 3.2rem;
    font-family: KissAndRiot;
}


.listWrapper{
    padding-bottom: $stripeHeight;
    border-bottom: $borderWidth solid black;
    padding-left: $paddingLeft;
    &:last-child{
        border-bottom: none;
    }
}

.listTitle{
    padding-top: $stripeHeight/4;
    padding-bottom: $stripeHeight/4;
    text-transform: uppercase;
    font-style: italic;
}

/* Smartphones (portrait and landscape) narrow screens----------- */
@media
all and (max-width: 500px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {
    .listWrapper{
        padding-left: $paddingLeftMobile;
        margin-left: 5%;
    }
}
