

@import '../../../style/sizes';

.ticker{
    position: absolute;
    left: -5vw;
    top: $stripeHeight*2;
    width: 110vw;
    height: $stripeHeight * 1.1;
    background-color: white;
    border-top: $borderWidth solid black;
    border-bottom: $borderWidth solid black;
    z-index: 98;
}


.animatable{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}