


@import '../../style/sizes';


.project{
    //min-height: 100vh;
    font-family: KissAndRiot;

    .header,.images,.projectInfo{
        padding-left: $paddingLeft;
    }
}

.header{
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;

    top: $stripeHeight;

    width: 100%;
    height: $stripeHeight;

    background-color: white;
    border-bottom: $borderWidth solid black;

    font-size: 3rem;
    line-height: 1em;

    .headerContainer{
        width: 70vw;
    }

    .headerContainer>span{
        display: block;
        padding-right: 5vw;
    }

    .headerContainer i{
        font-size: 0.8em;
    }
}

.images{
    padding-top: $stripeHeight;
    height: calc(6*#{$stripeHeight} + 15px);
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: $paddingLeft;
    display: flex;
    //margin-bottom: -15px; // hides scrollbar
}

.empty{
    height: $stripeHeight;
}

.image{
    background-size: cover;
    height: 100%;
    min-width: 70vw;
    border-left: $borderWidth solid black;


    &:last-child{
        border-right: $borderWidth solid black;
    }

}

.projectInfo{
    width: $contentWrapperWidth;

    background-color: white;
    border-top: $borderWidth solid black;
    padding-top: $stripeHeight/2;
    padding-bottom: $stripeHeight/2;
    display: flex;
    min-height: 4*$stripeHeight;
    position: relative;
    top: -16px;


    .description{
        width: 70%;
        max-width: 700px;
        padding-right: 5%;

        box-sizing: border-box;

        display: inline-flex;

        font-size: 2rem;
        line-height: 2.2rem;

    }

    .meta{
        width: 25%;
        max-width: 2*$stripeHeight;
        position: relative;

        a{
            display: block;
        }

        & > div{
            height: $stripeHeight;
        }

        i{
            display: block;
        }
    }


}

.nextProject{
    font-family: Oswald;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    font-size: 2rem;
}


/* iPads (portrait) ----------- */
@media
all and (max-width: 740px),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),
    /* iPad 3 ----------- */
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
    /* iPhone 4 ----------- */
only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2),
    /* iPhone 5 ----------- */
only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2),
    /* iPhone 6+ ----------- */
only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .projectInfo {
        display: block !important;
    }

    .description{
        width: 95% !important;
    }

    .meta{
        margin-top: 2em;
        width: 95% !important;
    }
}



/* Smartphones (portrait and landscape) narrow screens----------- */
@media
all and (max-width: 500px),
only screen and (min-device-width : 320px) and (max-device-width : 667px) {


    .header,.images,.projectInfo{
        padding-left: $paddingLeftMobile !important;
    }

    .header,.projectInfo{
        margin-left: 10px;
    }

    .header {
        font-size: 2rem;
    }

        .image {
        min-width: $contentWrapperWidthMobile !important;
    }

    .projectInfo{
        width: 100vw !important;
    }
}

@media all and (max-height: 720px){

    .header,.projectInfo{
        font-size: 2rem;
    }

    .meta{
        //font-size: 0.8em;
        //line-height: 2.4em;
        line-height: 2.2rem;
        max-width: 48vh !important;
    }

    .meta>div{
        height: auto !important;
    }
}

